html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  background: #fdc883;
}
.container {
  max-width: 1200px;
  margin: auto;
}
html {
  scroll-behavior: smooth;
}
.wrapper {
  max-width: 900px;
  margin: 0 auto;
}
header.header .container .wrapper nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
header.header .container .wrapper nav ul li {
  margin-top: 25px;
  padding-left: 25px;
}
header.header .container .wrapper nav ul li a {
  color: #000;
  text-decoration: none;
}
main section.info {
  margin-bottom: 50px;
}
main section.info .container .wrapper .info_photo {
  margin-top: 50px;
  display: block;
}
main section.info .container .wrapper .info_photo h1.name {
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
}
main section.info .container .wrapper .info_photo img.Rinat {
  display: flex;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
main section.skills {
  margin-bottom: 50px;
}
main section.skills .container .wrapper .skills_my h2.skills-title {
  font-size: 45px;
  text-align: center;
  margin-bottom: 20px;
  color: #4b4136;
}
main section.skills .container .wrapper .skills_my ol.skills_list {
  text-align: center;
}
main section.skills .container .wrapper .skills_my ol.skills_list li {
  font-size: 30px;
  color: slateblue;
}
main section.skills .container .wrapper .skills_my ol.skills_list li span {
  color: #000;
}
main section.Contact {
  margin-bottom: 50px;
}
main section.Contact .container .wrapper .Contact_content {
  text-align: center;
}
main section.Contact .container .wrapper .Contact_content h2.Contact-title {
  font-size: 35px;
  margin-bottom: 5px;
}
main section.Contact .container .wrapper .Contact_content a.git-hub {
  display: block;
  color: #24292f;
  padding-bottom: 10px;
}
main section.Contact .container .wrapper .Contact_content a.git-hub h2 {
  font-size: 25px;
}
main section.Contact .container .wrapper .Contact_content ul li {
  font-size: 19px;
}
main section.About-me {
  margin-bottom: 50px;
}
main section.About-me .container .wrapper .About-me_ h2.about-me_title {
  font-size: 35px;
  text-align: center;
}
main section.About-me .container .wrapper .About-me_ p.about-me_description {
  font-size: 20px;
  text-align: center;
}
main section.projects {
  margin-bottom: 50px;
}
main section.projects .container .wrapper .project h2.project-title {
  font-size: 35px;
  text-align: center;
  margin-bottom: 20px;
}
main section.projects .container .wrapper .project a img.Griboedov {
  margin-bottom: 35px;
  width: 900px;
}
main section.projects .container .wrapper .project a img.Miberger {
  width: 900px;
}
